<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" routerLink="login" *ngIf="isAuthenticated()==false">Giriş Yap</a>
      </li>
    <li class="nav-item dropdown" *ngIf="isAuthenticated()==true">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
       Melike Özbey
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="profile">Profilime git</a></li>
        <li><a class="dropdown-item" href="#">Kiralama Listem</a></li>
        <li><a class="dropdown-item" *ngIf="isAdmin==true" routerLink="setting">Ayarlar</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" routerLink="cars" (click)="signOut()">Çıkış</a></li>
      </ul>
    </li>
  </ul>
